{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-4 text-primary" style="text-align: center; padding-top: 30px;">Log In</h1>
      <form id="login-form" method="post" style="text-align: center; padding-top: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="login" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}