{% extends "base.html" %}

{% block title %}INTERACTIONS DETAILS{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-md-6">


        <span vocab="https://schema.org/" typeof="UserInteraction">
            <h1 class="display-4 text-primary" style="text-align: center; padding-top: 30px;">Interaction Detail</h1>
            <div style="text-align: left; margin-left: 80px; padding-top: 20px;">

                <p><strong>User:</strong> <span property="performer">{{ user }}</span></p>

                <p><strong>Creator:</strong> <span property="director">{{ interaction.user }}</span></p>

                <p><strong>Post:</strong> <span property="name">{{ interaction.post.content }}</span></p>

                <p><strong>Interaction Type:</strong> <span property="description">{{ interaction.get_interaction_type_display }}</span></p>

                <p><strong>Timestamp:</strong> <span property="startDate">{{ interaction.timestamp }}</span></p>

                 <p><strong>PostOrigin:</strong> <span property="location">Reddit</span></p>


            </div>


            <div style="display: flex; justify-content: center; align-items: center; gap: 20px; padding-top: 20px;">
                <a href="{% url 'interaction_confirm_delete' object.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            </div>
        </span>

    </div>
  </div>
</div>

{% endblock %}