{% extends "base.html" %}

{% block title %}Confirm Delete Post{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="display-4 text-primary" style="text-align: center; padding-top: 30px;">Confirm Delete Post</h1>
      <p style="text-align: center;">Are you sure you want to delete this Post?</p>
      <div style="display: flex; justify-content: center; align-items: flex-start; width: 100%; padding-top: 20px;">
        <form method="post" style="margin-right: 20px;">
          {% csrf_token %}
          <button type="submit" id="post_delete" class="btn btn-danger" style="margin-top: 20px;">Delete</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-left: 20px; margin-top: 20px;">Cancel</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}