{% extends "base.html" %}

{% block title %}Trending Reddit Posts{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Trending Reddit Posts</h1>
    <h2 class="mb-3" style="color: blue; text-align: center;">Subreddit: {{ subreddit_title }}</h2>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Author</th>
                <th>Score</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td><a href="{{ post.url }}" target="_blank">{{ post.url }}</a></td>
                <td>{{ post.author }}</td>
                <td>{{ post.score }}</td>
                <td>{{ post.comments }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}